<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>I'm a dog!</title>
  </head>
  <body>
    <h1>Dogs are so damn cute!</h1>
    <p>I don't know if you realize, but dogs are basically the coolest</p>
    <p>They're cuddly and cute and smart</p>
  </body>
</html>
